/*THIS IS A CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*HTML 5 reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  HEADER
  ========================================
*/

body {
    font-family: 'Libre Franklin', sans-serif;
}

.logo-bar{
    height: 120px;
}

.logo {
    padding: 10px;
    float: left;
}

.logo img {
    width: 80%
}

.contacts{
    float: none;
}

.contacts h2,
.contacts h4{
    display: inline-block;
}

.contacts h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    margin: 30px 40px 0 20px;
}


.nav-bar {
    padding-left: 5px
}

.nav-bar a {
    text-decoration: none;
    color: #333;
}

.nav-bar nav ul li {
    display: inline-block;
    font-size: 20px;
    padding: 13px;
    border-left: 1px solid #4c4c4c
}

/*
  ========================================
  LANDING PAGE IMAGE SECTION
  ========================================
*/

.mid-home{
    background-image: url(../images/homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    padding: 90px 90px 0 40px;
}

.mid-home h1 {
    font-size: 60px;
    color: #fff;
    padding-bottom: 30px;
    line-height: 100px; 
    font-weight: bolder;
}

.btn {
    text-align: center;
    background: #ffff00;
    border: solid 0 #333;
    border-radius: 30px;
    color: #000;
    padding: 15px 30px;
    text-decoration: none;
}

/*
  ============================================
  FEATURED SECTION
  ============================================
*/
.featured{
    padding: 30px;
    margin-right: 250px;
    margin-left: 250px
}

.featured img {
    width: 100%;
}

/*
  ============================================
  CLEANING SECTION
  ============================================
*/

.cleaning {
    background: #f2f2f2;
    padding: 30px;
    padding: 50px 200px 50px 200px;
}


.cleaning h2 {
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.domestic{
    text-align: center;
    background-image: url(../images/domestic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.domestic h3,
.commercial h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 50px  0 180px 0;
}

.commercial{
    text-align: center;
    background-image: url(../images/commercial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.clean-btn {
    text-align: center;
    background: #ffff00;
    border: solid 0 #333;
    border-radius: 30px;
    color: #000;
    padding: 12px 15px;
    text-decoration: none;
}



/*
  ========================================
  GRID OF TWO CLEANING SECTION
  ========================================
*/


.area_2_of_2 {
	width: 100%;
}

.area_1_of_2 {
	width: 49.2%;
}

/*
  =====================================================
  MEDIA QUERIES GO FULL WIDTH AT LESS THAN 480 PIXELS
  =====================================================
*/

@media only screen and (max-width: 480px) {
	.area_2_of_2 {
		width: 100%; 
	}
	.area_1_of_2 {
		width: 100%; 
	}
}


/*
  ========================================
  CHOOSE US SECTION
  ========================================
*/ 

.choose-us {
    text-align: center;
    padding: 50px 200px 50px 200px
}

.choose-us h2 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}

.choose-us img {
    width: 25%;
}

.choose-us p {
    line-height: 23px;
}

.choose-us .line-one{
    padding-top: 30px;
}

.choose-us .line-two{
    padding-bottom: 30px;
}

.choose-us .bttn{
    color: dodgerblue;
    text-decoration: none;
    border: solid 2px dodgerblue;
    padding: 10px 15px;
    border-radius: 30px;
}

/*
  ============================================
  GRID OF THREE WHY TO CHOOSE PARAKAT SECTION
  ============================================
*/

	
.area_3_of_3 {
	width: 100%; 
}

.area_2_of_3 {
	width: 66.13%; 
}

.area_1_of_3 {
	width: 32.26%; 
}


/*
  =====================================================
  MEDIA QUERIES GO FULL WIDTH AT LESS THAN 480 PIXELS
  =====================================================
*/

@media only screen and (max-width: 480px) {
	.area_3_of_3 {
		width: 100%; 
	}
	.area_2_of_3 {
		width: 100%; 
	}
	.area_1_of_3 {
		width: 100%;
	}
}

/*
  ========================================
  CLIENTS SECTION
  ========================================
*/ 

.employees{
    background-image: url(../images/employees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.employees h4,
.satisfied h4,
.houses h4 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-top: 120px;
}

.employees p,
.satisfied p,
.houses p{
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.satisfied{
    background-image: url(../images/satisfiedclients.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.houses{
    background-image: url(../images/housescleaned.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.employees,
.satisfied,
.houses{
	display: block;
	float:left;
	margin: 0;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
.employees,
.satisfied,
.houses{ 
		margin: 0;
	}
}


/*
  ============================================
  GRID OF THREE WHY TO CLIENTS SECTION
  ============================================
*/

	
.employees,
.satisfied,
.houses{
	width: 100%; 
}

.employees,
.satisfied,
.houses{
	width: 33.33%
}


/*
  =====================================================
  MEDIA QUERIES GO FULL WIDTH AT LESS THAN 480 PIXELS
  =====================================================
*/

@media only screen and (max-width: 480px) {
.employees,
.satisfied,
.houses{
		width: 100%;
	}
}

/*
  ========================================
  TESTIMONIALS SECTION
  ========================================
*/ 

.testimonials {
    height: 400px;
    color: #000;
}

.wrapper {
    position: relative;
  transform:translateY(-50%);
  top:50%;
  margin: 0 auto;
  width:75%;
  overflow:hidden;
    height: ;
}

.wrapper p {
    position: absolute;
  left:100%;
  width:100%;
  font-size:2em;
  color: #000;
  top:0;
  cursor:pointer;
  opacity:0;
  transition:left 1.4s, opacity .5s ease;
}

.wrapper p.activeText {
  position:relative;
  left:0;
  opacity:1;
}

.wrapper p.slideLeft {
  left:-100%;
  opacity:0;
}

.wrapper p:before {
  content:"\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.wrapper p:after {
  content:"\201D";
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.45em;
}

ul {
  margin:0;
  padding:0;
  text-align:center;
}

ul li {
  list-style:none;
}
.dot {
  width:10px;
  height:10px;
  border-radius:100px;
  background:#7f8c8d;
  display:inline-block;
  text-align:center;
  cursor:pointer;
}

.active {
  background:#ecf0f1;
}



/*
  ========================================
  GRID OF SEVEN OUR CLIENTS SECTION
  ========================================
*/


.area_7_of_7 {
	width: 100%;
}

.area_6_of_7 {
	width: 85.48%;
}

.area_5_of_7 {
  	width: 70.97%;
}

.area_4_of_7 {
  	width: 56.45%;
}

.area_3_of_7 {
  	width: 41.94%;
}

.area_2_of_7 {
  	width: 27.42%;
}

.area_1_of_7 {
  	width: 12.91%;
}

/*
  ====================================================
 MEDIA QUERIES GO FULL LENGTH AT LESS THAN 480 PIXELS
  ====================================================
*/

@media only screen and (max-width: 480px) {
	.area_7_of_7 {
		width: 100%; 
	}
	.area_6_of_7 {
		width: 100%; 
	}
	.area_5_of_7 {
		width: 100%; 
	}
	.area_4_of_7 {
		width: 100%; 
	}
	.area_3_of_7 {
		width: 100%; 
	}
	.area_2_of_7 {
		width: 100%; 
	}
	.area_1_of_7 {
		width: 100%; 
	}
}

/*
  ========================================
  BLOG SECTION
  ========================================
*/ 

.blog{
    background: #f2f2f2;
    padding: 60px 200px 60px 200px;
    text-align: center;
}


.blogs {
    margin: 0;
}

.blog h2 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}

.blog img {
    margin: 0;
    width: 100%;
    background: #fff;
}

.blog1, 
.blog2,
.blog3 {
    background: #fff;
}

.blog-text {
    
}

.blog1 h3,
.blog2 h3,
.blog3 h3{
    font-size: 18px;
    padding: 10px;
}

.blog1 p,
.blog2 p,
.blog3 p {
    font-size: 15px;

    margin-bottom: 70px;
    line-height: 30px
        
}

.post-btn {
    border: solid 2px #ffff00; 
    background: #ffff00;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 30px;
}

/*
  ========================================
  FOOTER SECTION
  ========================================
*/ 

.footer {
    background: dodgerblue;
    padding: 20px 200px 20px 200px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer a {
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}

.footer p {
    color: #fff;
    line-height: normal;
}

.copyright {
    float: left;
    color: #fff;
    font-size: 14px;
}


.footer ul li {
    overflow: hidden;
    display: inline-block;
    margin: 0px 10px 0px 0px;
}



/*
  ========================================
  GRID OF FOUR FOOTER SECTION
  ========================================
*/

	
.area_4_of_4 {
	width: 100%; 
}

.area_3_of_4 {
	width: 74.6%; 
}

.area_2_of_4 {
	width: 49.2%; 
}

.area_1_of_4 {
	width: 23.8%; 
}

/*
  ====================================================
 MEDIA QUERIES GO FULL WIDTH AT LESS THAN 480 PIXELS
  ====================================================
*/

@media only screen and (max-width: 480px) {
	.area_4_of_4 {
		width: 100%; 
	}
	.area_3_of_4 {
		width: 100%; 
	}
	.area_2_of_4 {
		width: 100%; 
	}
	.area_1_of_4 {
		width: 100%; 
	}
}

/*
  ========================================
   STYLES FOR ALL GRIDS
  ========================================
*/


/*
  ========================================
    SECTIONS
  ========================================
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*
  ========================================
  GROUPS
  ========================================
*/


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*
  ========================================
  GRID COLUMN SETUP
  ========================================
*/

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}